/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.row {
    *zoom: 1;
}


/*
 * Base
 */

body {
  margin: 0;
  padding: 4px;
  font-family: 'Avenir Next', arial, veradana, sans-serif;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
 * Console, bro.
 */

#console {
  float: left;
}

#players li {
  float: left;
  width: 200px;
}

/*
 * It's a board.
 */

#board {
  float: right;
}

/*
 * Hexagons
 */

.hexagons,
.hexagons .row {
  display: block;
  width: 864px;
  margin: 0 auto;
}
/* Offset odd rows */
.hexagons .row:nth-child(odd) {
  width: 756px;
}
.hexagons li {
  display: block;
  float: left;
  width: 104px;
  margin-top: -26px;
  margin-right: 4px;
  height: 120px;
}
.hexagons .row:first-child > li {
  margin-top: 0;
}
.hexagons li > span {
  display: block;
  width: 104px;
  height: 60px;
  line-height: 59px;
  text-align: center;
  background: #ec0;
  font-size: 11px;
  font-family: arial, veradana, sans-serif;
}
.hexagons li:before,
.hexagons li:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 52px dotted transparent;
  border-right: 52px dotted transparent;
}
.hexagons li:before {
  border-bottom: 30px solid #ec0;
}
.hexagons li:after {
  border-top: 30px solid #ec0;
}

.hexagons li > span,
.hexagons li:before,
.hexagons li:after {
  /*-webkit-transition: all .2s ease-out;*/
}


/*
 * Hexagons
 */
 
 /* Chosen */
.hexagons .chosen > span {
  background: blue;
}
.hexagons .chosen:before {
  border-bottom-color: blue;
}
.hexagons .chosen:after {
  border-top-color: blue;
}

 /* City */
.hexagons .city > span {
  background: red;
}
.hexagons .city:before {
  border-bottom-color: red;
}
.hexagons .city:after {
  border-top-color: red;
}

/* Chosen */
.hexagons .null > span {
  background: gray;
}
.hexagons .null {
  color: white;
}
.hexagons .null:before {
  border-bottom-color: gray;
}
.hexagons .null:after {
  border-top-color: gray;
}